name: Sync latest docs from runfinch/finch

on:
  schedule:
    # Pull changes every day at 13:00 UTC.
    # Eventually switch to using a push based flow with
    # https://github.com/peter-evans/repository-dispatch
    - cron: '0 13 * * *'
  # Allow workflow to be triggered manually.
  workflow_dispatch:

jobs:
  sync:
    name: Sync docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b

      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: '3.x'

      - name: Install script requirements
        working-directory: ./scripts
        run: pip install -r requirements.txt

      - name: Update docs
        working-directory: ./scripts
        run: |
          git status
          git clean -f -d
          python get_upstream_docs.py

      - name: Create PR
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          signoff: true
          title: 'docs: Sync docs from runfinch/finch'
