name: Sync latest docs from runfinch/finch

on:
  schedule:
    # Pull changes every day at 13:00 UTC.
    # Eventually switch to using a push based flow with
    # https://github.com/peter-evans/repository-dispatch
    - cron: '0 13 * * *'
  # Allow workflow to be triggered manually.
  workflow_dispatch:

jobs:
  sync:
    name: Sync docs
    if: ${{ github.repository == 'runfinch/finch-website' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3
        with:
          python-version: '3.x'

      - name: Install script requirements
        working-directory: ./scripts
        run: pip install -r requirements.txt

      - name: Update docs
        working-directory: ./scripts
        run: |
          git status
          git clean -f -d
          python get_upstream_docs.py

      - name: Create PR
        uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          signoff: true
          title: 'docs: Sync docs from runfinch/finch'
